{% extends "base.html" %}

{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я автор!</h1>
  <p>
    Меня зовут Александр.
  </p>
  <p>
    Не полных 42 года. Скоро пенсия. <span>&#x1F606</span>
  </p>
  <p>
    Работаю в отделе роботизации (автоматизации).
    Для реализации проектов используем UiPath (очень редко script`оложество). 
  </p>
  <p>
    В основном автоматизируем алгоритмы бухгалтерии и HR:
    SAP, Excel, отправка отчёта на почту заказчика, реже задействуется браузер.
    То что человек делает часами, робот выполняет за минуты.
    Если не ломается. Все счастливы.
  </p>
  <p>
    Попал в IT через тестрирование.
    Обучился, и в бой.
    Год протестировал, предложили автоматизацию.
    Я, естественно, согласился - новый опыт и рост.
    Вывод: уится и меняться очень полезно.
    А главное - не боятся перемен, иногда они положительные.
  </p>
  <p>
    Домашнее жывотное имеется, но только отвлекает.
    Закрытые двери для кота - это Троя для греков.
    Для работы мне необхадима концентрация, помогает электронная музыка в ушах.
  </p>
  <p>
    Решил пройти курсы по Python,
    потому как самостоятельное обучение
    не очень структурировано и послдеовательно.
    Тем более, за счёт компании.
  </p>
  <p>
    Теперь у меня есть акк на GitHub,
    и я умею делать на него ссылку
    (а в качестве лейбла питомец. кликабельно)
  </p>
      <a href="https://github.com/AlGenSo" target="_blank">
        <img src="{% static 'img/GitCat.jpg' %}"
        width="115" height="150">
      </a>
      <p></p>
  <p>
    К сожалению, не располгаю временем, что бы навести тут красоту.
      <span>&#x1F614</span>
  </p>
<div>
{% endblock %}