{% extends "base.html" %}

{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я, якобы, умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          VSC
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        <h3>Тут я вкратце расскажу о том, как я создавал данный сайт.</h3>
      </p>
      <p>
        В первую очередь создал git-репозиторий.
      </p>
      <p>
        Затем установил и настроил Visual Studio Code
        - это редактор, но при этом обладающий функциями IDE.
      </p>
      <p>
        Настроил окружение venv, puthon.
      </p>
      <p>
        Использовал HTML и CSS, Bootstrap.
      </p>
      <p>
        И поехало: Приложения, классы, модули, шаблоны.
      </p>
      <p>
        В голове сначала каша, и глаза размером с блюдце.
      </p>
      <p>
        Но, потом, после неоднократного прочтения задания,
        вроде начинаешь понимать с чего начать,
        а это уже пол дела.
      </p>
      <p></p>
      <p>
        Очень интересно звниматься именно вёрсткой. Но нужно больше практики.
      </p>
      <p>
        Сложно даётся понимание взаимодействия шаблонов.
        Что, как и куда передаётся.
        <br>Вроде всё ясно, пока читаешь теорию,
        но как дело доходит до практики...
      </p>
      <p>
         При неизбежных затыках с задачами,
         выручают, в основном, сокурсники в Slack.
      </p>
      <p>
        Ну вот пишу сейчас текст, а сам смотрю на файлы в боковой панели,
        и вроде всё понятно, что и как работает :)
      </p>
      <p>
        Хотелось бы больше времени уделять учёбе, читать больше статей.
      </p>
      <p>
        Думаю практика со временем заполнит не все, но многие пробелы.
      </p>
    </article>
  </div>
</div>
{% endblock %}